div.row.loading {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	color: #000;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 100;
	padding: 30px;
}

div.row.alert {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	color: #000;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 50;
}

div.row.alert.success {
	background: #5cb85c;
	color: #fff;
}

div.row.alert.danger {
	background: #d9534f;
	color: #fff;
}

div.row.alert.warning {
	background: #ED933B;
	color: #fff;
}

div.row.alert div.alertContainer {
	padding: 20px !important;
	text-align: center;
	margin: auto;
}

div.row.alert .alertContainer h5 {
	margin: 30px;
	font-size: 1.2em;
	font-weight: 400;
    line-height: 1.7em;
}

div.row.alert.success .btn-primary {
	background: #fff;
	color: #5cb85c;
	border: 0px;
}

div.row.alert.danger .btn-primary {
	background: #fff;
	color: #d9534f;
	border: 0px;
}

div.row.alert.warning .btn-primary {
	background: #fff;
	color: #ED933B;
	border: 0px;
}

div.row.alert div.alertContainer h4 {
	font-weight: bold;
}

/****** LOADING ICON ******/
	.uil-ball-css {
	  background: none;
	  position: relative;
	  width: 200px;
	  height: 200px;
	  margin: auto;
	}
	width: 100%;
	@-webkit-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-webkit-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-moz-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-ms-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-moz-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-webkit-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@-o-keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	@keyframes uil-ball-anim0 {
	  0% {
	    top: 160px;
	  }
	  12% {
	    top: 105px;
	  }
	  25% {
	    top: 62px;
	  }
	  37% {
	    top: 38px;
	  }
	  50% {
	    top: 30px;
	  }
	  62% {
	    top: 37px;
	  }
	  75% {
	    top: 62px;
	  }
	  87% {
	    top: 101px;
	  }
	  100% {
	    top: 160px;
	  }
	}
	width: 100%;
	@-webkit-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-webkit-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-moz-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-ms-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-moz-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-webkit-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@-o-keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	@keyframes uil-ball-anim1 {
	  0% {
	    -ms-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(0deg) translate(60px, 0);
	  }
	  100% {
	    -ms-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -moz-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -webkit-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    -o-transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	    transform: translate(0, -60px) rotate(360deg) translate(60px, 0);
	  }
	}
	.uil-ball-css > div {
	  position: absolute;
	  top: 160px;
	  left: 100px;
	  width: 40px;
	  height: 40px;
	  margin-top: -20px;
	  margin-left: -20px;
	  border-radius: 20px;
	  background: #000000;
	  -ms-animation: uil-ball-anim0 1s linear infinite;
	  -moz-animation: uil-ball-anim0 1s linear infinite;
	  -webkit-animation: uil-ball-anim0 1s linear infinite;
	  -o-animation: uil-ball-anim0 1s linear infinite;
	  animation: uil-ball-anim0 1s linear infinite;
	}
/*** END LAODING ICON */