<ul class="navigation">
	<li class="profile" ng-show="nav.isLoggedIn()" >
		<img ng-src="{{'data:image/jpg;base64,' + nav.Auth.getCurrentUser().profileimage }}" class="profileimage-sm" />&nbsp;&nbsp;<span>{{nav.Auth.getCurrentUser().name}}</span>
	</li>
    <li class="nav-item" ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;Admin</a></li>
    <li class="nav-item" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/')}"><a href="/" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
    <li class="nav-item" ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/userhome')}"><a href="/userhome" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
    <li class="nav-item" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Register</a></li>
    <li class="nav-item" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
    <li class="nav-item" ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Settings</a></li>
    <li class="nav-item" ng-show="nav.isLoggedIn()"><a href="/logout" ng-click="nav.common.toggleMenu()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
</ul>