<ul class="navigation">
    <li class="nav-item" ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li class="nav-item" ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
    <li class="nav-item" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Register</a></li>
    <li class="nav-item" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
    <li class="nav-item" ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
    <li class="nav-item" ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
    <li class="nav-item" ng-show="nav.isLoggedIn()"><a href="/logout">Logout</a></li>
</ul>